/* Code Modularity */

.class-p, .class-span {
  color: #8F8F8F;
}

.class-h {
  font-family: "Montserrat-bold", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

.class-em {
  font-size: 1.2rem;
}

.class-hr {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#features, #explore, .carousel-item {
  padding: 7% 15%;
}

.title-row .class-h, .title-img {
  padding-top: 3.5rem;
}

#features .feature-box, #testimonials, #press, #pricing, #explore, #footer {
  text-align: center;
}

#title, #testimonials, #footer {
  color: #FFFFFF;
}

#testimonials, #press {
  background-color: #2a428c;
}

.testimonial-img, .press-img {
  border-radius: 100%;
}

/* Media Query */

@media (max-width: 991px) {

  #title {
    text-align: center;
  }

  #title .title-img {
    position: static;
    width: 400px;;
    transform: rotate(25deg);
    margin-top: 20px;
  }
}

/* Navbar */

.navbar .navbar-brand {
  font-size: 2.5rem;
}

#title .container-fluid {
  padding: 3% 12% 5%;
  background-color: #dc3545;
}

.collapse .nav-item {
  font-size: 1rem;
}

.nav-link {
  margin: 0 18px;
}

.container-fluid {
  padding-bottom: 5%;
}

/* Title Section */

#title h1 {
  font-size: 3.5rem;
}

.title-img {
  width: 36%;
  transform: rotate(25deg);
  position: absolute;
  right: 8%;
}

.download-button {
  margin-left: 10px;
}

.title-row .class-h {
  padding-bottom: 2.5rem;
}

/* Features Section */

#features {
  position: relative;
  z-index: 1;
  background-color: #FFFFFF;
}

#features .feature-box {
  padding: 5%;
}

.feature-box h2 {
  font-size: 1.45rem;
}

.feature-icons {
  color: #2a428c;
  padding-bottom: 7%;
}

.feature-icons:hover {
  color: #dc3545;
}

/* Testimonials Section */

#testimonials h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.testimonial-img {
  width: 10%;
  margin: 20px;
}

/* Press Section */

#press {
  padding: 0 15% 7%;
}

.press-img {
  width: 15%;
  margin: 15px 25px;
}

/* Pricing Section */

#pricing {
  padding: 7% 12%;
}

#pricing .price-h {
  padding-top: 0.5rem;
}

#pricing .price-p {
  padding-bottom: 1.5rem;
}

#pricing .pricing-row {
  padding: 2% 2%;
}

/* Explore Section */

#explore .btn {
  width: 230px;
  margin: 3% 0;
  height: 50px;
}

/* Footer Section */

.social-media a{
  margin: 0 12px;
}

.social-media {
  padding: 2% 3%;
}

#footer .navbar-brand {
  font-size: 1.75rem;
  padding: 2% 0 0;
}

.copyright {
  padding: 0 0 1%;
  font-size: 0.96rem;
}
